*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body{
    font-family: 'Montserrat', sans-serif;
}

.wrapper{
    margin: auto; 
    width: 1024px;
    
}

img{
    width: 100%;
    
}

.object-fit{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.layover{
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    border-radius: 10px;
}
/* END COMMON */


/* HEADER */
.logo{
    width: 150px;
}

/* start Menù */
nav{
    margin:20px 0;
    width: 100%;
}

.menù{
    list-style-type:none;
    padding: 20px 0;
}

.menù li{
    display: inline-block;
}

.menù a{
    text-decoration: none;
    text-transform: uppercase;
    color:#a9a9a9;
    margin: 0 10px;
}
/* End Menù */


/* banner */
.banner {
    width: 100%;
    height: 800px;
    margin-bottom: 20px;
    position: relative;
}

.teaser{
    color:white;
    position:absolute;
    bottom: 60px;
    left:40px;
    width: 50%;
}
/* End banner */
/* End HEADER */


/* Main */
.main-container{
    width: 100%;
    /* height: 600px; */
    background-color: royalblue;

}

.main-container::after{
        content: "";
        display: table;
        clear: both;
    }

/* in common for columns */
.col {
    background-color: skyblue;
    height: 600px;
    float:left;
    margin: 2% 0;
}
/* end common */

.row{
    background-color: skyblue;    
    width: 100%%;
    height: 150px;
}

.col-left{
    width: 20%;
}

.col-centered{
    width: 56%;
    margin: 2% 2%;
}

.col-right{
    width: 20%;
}
/* End Main */

/* Footer */
footer{
    width: 100%;
    height: 60px;
    background-color: #8801fe;
    margin-top: 8px;
}

/* End Footer */
